@using LetsFest.Web;
@model LetsFest.Data.Dto.EventCreateEditDto


<h1>@Resource.Edit </h1>

<h4>@Resource.Event</h4>
<p><label>@Resource.Initiator:</label> @Model.InitiatorName</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EventID" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
                <input asp-for="InitiatorId" class="form-control" type="hidden" />
            </div>
            
            <div class="form-group">
                <label asp-for="inUse" class="control-label"></label>
                <input asp-for="inUse" type="checkbox" />
                <span asp-validation-for="inUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="isPublic" class="control-label"></label>
                <input asp-for="isPublic" type="checkbox" />
                <span asp-validation-for="isPublic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposedStartDateTime" class="control-label"></label>
                <input asp-for="ProposedStartDateTime" class="form-control" />
                <span asp-validation-for="ProposedStartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposedEndDateTime" class="control-label"></label>
                <input asp-for="ProposedEndDateTime" class="form-control" />
                <span asp-validation-for="ProposedEndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn">@Resource.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
