@model LetsFest.Data.Dto.UserProfileDto

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<div>
    <h4>User Profile</h4>
    <img src="@Model.ProfilePicUrl"/>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GivenName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inUse)
        </dd>
        
    </dl>
</div>